body {
	margin: 0;
	padding: 0;
	background:  #FFF url("/webimages/newbackground.gif");
	background-repeat: repeat-x;
	font-family : Verdana, Arial, sans-serif;
}
.header-taep {
	position: relative;
	display: block;
	background: #0c5b63 url("/webimages/searchheader.gif") no-repeat;	
	font-size: 11px;
	font-family : Verdana, Arial, sans-serif; 
	font-weight: bold;
	color: #fff;
	padding: 40px 0 10px 45px;
	margin: 0 0 20px 0px;
	}

.header-taep a:link  {color: #FFF; text-decoration: none}
.header-taep a:visited {color: #FFF; text-decoration: none;}
.header-taep a:hover  {background-color: #e3e3e3; color: #FFF;  text-decoration: none;}
.header-taep a:active  {background-color: #165e7a; color: #FFF;  text-decoration: none}

